/datasets/*
!.gitkeep

/baseline_estimator_vgg/checkpoints/*
!.gitkeep

/baseline_estimator_resnet/checkpoints/*
!.gitkeep

/checkpoints/

/__pycache__/*

src.tar

/models/__pycache__/*

/configs/

/core/__pycache__/*

/runs/*

/wandb/*